* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image:url(../images/thunder.jpg);
    background-size: cover;
    background-position: top-center;
}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: whitesmoke;
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid rgba(203, 17, 227, 0.21);

    color: whitesmoke;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus {
    background-color: rgba(171, 160, 165, 0.1);
}

main {
    flex: 1 1 100%;
    padding: 25px 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city {
    color: #F0FFFF;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date {
    color:  #F0FFFF;
    font-size: 16px;
}

.current .temp {
    color: #c2c7c7;
    font-size: 102px;
    font-weight: 900;
    margin: 2px 0px;
    text-shadow: 20px 40 px rgba(0, 0, 0, 0.3);
}

.current .temp span {
    font-weight: 500;
}

.current .weather {
    color: #F0FFFF;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.3);

}

.current .hi-low {
    color:  #F0FFFF;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.3);
    padding-top: 20px;
}

.current .cloudy {
    color:  #F0FFFF;
    font-size: 16px;
    padding-bottom: 15px;
}
